.Contact{
    padding: 40px 72px 80px;
}

.ContactMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    align-items: center;
}

.contactContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: left;
}