.ProductDisplay{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 100px;
    padding: 80px 72px 0px;
    min-height: calc(100vh);
    max-height: calc(100vh);
    margin: 40px 0 0;
}
/* 
.productCarousel{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
 */

.PD_shopBtns{
    background-color: white;
    font-size: 12px;
    height: 24px;
}
.PD_shopBtns.selected{
    background-color: var(--primary);
}
.PD_shopBtns:hover{
    background-color: var(--primary);
}

.swiper-button-prev::after, .swiper-button-next::after{
    color: transparent;
    background-color: transparent;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.swiper-button-prev::after{
    background-image: url(../../../assets/icons/left.png);
    /* transform: translateX(-24px); */
}
.swiper-button-next::after{
    background-image: url(../../../assets/icons/right.png);
}
